body{
    box-sizing:border-box;
    height: 100vh;
    background-color: rgba(80, 96, 93, 1);
    background-image: url(IMG/5fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format(truetype);
}

.cabecalho{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 25px;
}

h2{
    color: rgba(98, 204, 187, 1);
    margin-left: 2px;
}

img{
    height: 80px;
    width: 80px;
}

.redirecionamento{
    margin-left: auto;
    margin-right: 25px;
    margin-top: 25px;
}

.redirecionamento a{
    color: white;
    padding: 4px;
    text-decoration: none;
    font-size: 25px;

}

.texto_titulo p{
    color: white;
    font-size: 80px;
    text-align: center;
    margin-top: 10%;

}

.texto_sub_tit p{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: -2%;
    
}



@media screen {
    @media (max-width: 860px){
        .logo{
            margin-left: 10px;
            margin-top: 10px;
        }

        h2{
            font-size: 15px;
        }
        
        img{
            height: 50px;
            width: 50px;
        }

        .redirecionamento{
            margin-right: 5px;
            margin-top: 7px;
        }
        .redirecionamento a{
            font-size: 12px;
        
        }

        .texto{
            font-size: 40px;
            margin-top: 42%;
        }
    }
    
    @media (max-width: 1600px){
        @media(min-width: 1024px){
            .logo{
                margin-left: 10px;
                margin-top: 15px;
            }
            
            h2{
                margin-left: 2px;
                font-size: 20px;
            }
            
            img{
                height: 65px;
                width: 65px;
            }

            .redirecionamento{
                margin-top: 10px;
            }
            
            .redirecionamento a{
                font-size: 20px;
            }

            .texto{
                font-size: 55px;
            }

        }
    }   
}