body{
    box-sizing:border-box;
    height: 100vh;
    background-color: rgba(80, 96, 93, 1);
    background-image: url(IMG/5fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format(truetype);
}

.cabecalho{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
}

h2{
    color: rgba(98, 204, 187, 1);
    margin-left: 2px;
    font-family: 'Montserrat';
}

img{
    height: 80px;
    width: 80px;
}

.redirecionamento{
    margin-left: auto;
    margin-right: 25px;
    margin-top: 25px;
}

.redirecionamento a{
    color: white;
    padding: 4px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 25px;

}

.texto{
    color: white;
    font-size: 98px;
    padding: 1px;
    text-align: center;
    margin-top: 6%;

}
